extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Kristina Savova 
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | I'm passionate about life-long learning and creating React, Node.js and Express applications from scratch as well as implementing certain features in already existing projects.      
            | My dream is to work in a team where I could constantly evolve as a professional and contribute to development of high-quality software.
            | In addition, I bring along my previous work experience as a doctor with a set of soft skills including continuous learning, collaborating across different departments and fiding solutions to existing challenges.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li React 
          li Node.js and Express
          li REST API
          li AJAX
          li Pug/Jade
          li SQL and Sequelize  
          li HTML and CSS 
          li Git and GitHub
          li Agile and Scrum
          li Code Review 
        h6 Contact Info
        ul
          li +380638754087
          li kristina.n.savova@gmail.com
        a.button.expanded(href='https://github.com/kristinasavova' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  