extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Kristina Savova 
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | I'm passionate about life-long learning and applying my skills and knowledge in development of high-quality web-applications.      
            | My dream is to work in a team where I could constantly evolve as a professional and make my contribution to the collective effort. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Node/Express 
          li SQL/Sequelize
          li MongoDB/Mongoose
          li REST API
          li jQuery
          li React/Redux
          li JSON APIs/AJAX
          li HTML/CSS 
          li Git/GitHub
          li Code Review 
        h6 Contact Info
        ul
          li kristina.n.savova@gmail.com
        a.button.expanded(href='https://github.com/kristinasavova' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  