extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Kristina Savova 
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | From the moment I wrote my first lines of code, I knew what I want to do the rest of my life. Software development is not just a job, it's a full-fledged passion that only gets more exciting as the time goes by.     
            | 
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li React 
          li Node.js and Express
          li REST API
          li AJAX
          li Pug/Jade
          li SQL and Sequelize  
          li HTML and CSS 
          li Git and GitHub
          li Agile and Scrum
          li Code Review 
        h6 Contact Info
        ul
          li +380638754087
          li kristina.n.savova@gmail.com
        a.button.expanded(href='https://github.com/kristinasavova' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  